<div id="message-box" class="row">
  <div class="col-xs-12">
    <div id="message-all">

    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <input type="text" id="message-message" placeholder="Enter message">
  </div>
</div>
